{% extends 'base.html' %}
<!DOCTYPE HTML>
{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}
<section class="section-content padding-y">

	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Log In</h4></header>
		<form method="post">{% csrf_token %}
			{{ form.as_p }}

			<button type="submit" class="btn btn-primary btn-block"> Login  </button>
			</form>
			<a href="{% url 'users:forgot_password' %}">parolni unutdingizmi?</a>
		</article>
    </div> 
    <p class="text-center mt-4">Have an account? <a href="">Log In</a></p>
    <br><br>

</section>
{% endblock %}

