{% extends 'base.html' %}
<!DOCTYPE HTML>
{% load static %}

{% block title %}Reset Password done{% endblock title %}

{% block content %}

<section class="section-content padding-y">
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
       <article class="card-body"> 
        <header class="mb-4"><h4 class="card-title">parolni o'zgartirish muvafaqiyatli yakunlandi</h4></header>
		<b class="mb-4" class="card">parolni o'zgartirish muvafaqiyatli yakunlandi</b> 
        </article>
    </div> 
</section>

{% endblock %}

