{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    
    <!--========== Bootstrap4 ==============-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        img {
            display: none;
        }
        .visible {
            display: block;
        }

    .image-container {
      display: flex;
      overflow: hidden;
    }

    .image-container img {
      display: none;
      width: 100%;
      height: auto;
    }

    .button-container {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  </style>

    <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">

    <!-- jQuery -->
    <script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>
    
    <!-- Bootstrap4 files-->

    <!--========== Bootstrap5 ==============-->
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-..."> {% endcomment %}

    <!--========== Bootstrap4 ==============-->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
    
    <!-- Font awesome 5 -->
    <link href="{% static 'fonts/fontawesome/css/all.min.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css" integrity="sha384-...">

    
    
    <!-- custom style -->
    <link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/responsive.css'%}" rel="stylesheet" media="only screen and (max-width: 1200px)" />
    
    <!-- custom javascript -->
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
    
    <script type="text/javascript">
    /// some script
    
    // jquery ready start
    $(document).ready(function() {
        // jQuery code
    
    }); 
    // jquery end
    </script>
    
</head>
<body>
    {% include "details/header.html" %}
    {% block content %}

    {% endblock content %}
    {% include "details/footer.html" %}
    
<!--========== Bootstrap5 ==============-->
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-..."></script> {% endcomment %}

<!--========== Bootstrap4 ==============-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 <script>
    let currentImageIndex = 0;
    const images = document.querySelectorAll('.slider-image');
    images[currentImageIndex].style.display = 'block';

    function changeImage(direction) {
      images[currentImageIndex].style.display = 'none';
      currentImageIndex = (currentImageIndex + direction + images.length) % images.length;
      images[currentImageIndex].style.display = 'block';
    }

   const radioOption = document.getElementById("radioOption");
        const destinationInput = document.getElementById("destination");

        // Add event listener to radio input
        radioOption.addEventListener("change", transferValue);

        // Function to transfer selected value
        function transferValue() {
            if (radioOption.checked) {
                destinationInput.value = radioOption.value;
            }
        }
  </script>
</body>
</html>